<div class="card-header">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-11 my-2">
      <h5>ANESTESIA - ECO Perioperatorio</h5>
    </div>
  </div>
  <form class="needs-validation" novalidate [formGroup]="ingForm">
    <div class="row mb-3">
      <div class="col-sm-12 col-md-6 col-lg-8">
        <div class="col-sm-12 col-md-8 col-lg-12">
          <label for="ingreso" class="form-label">Número de ingreso</label>
        </div>
        <input
          type="number"
          class="form-control form-control-sm"
          id="ingreso"
          required
          formControlName="campoValor"
        />
        <div class="invalid-feedback d-block" *ngIf="!invalidFeedback">
          El campo Número de ingreso es necesario
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <label class="form-label">
            <br />
          </label>
        </div>
        <button
          id="ingresoModal"
          type="submit"
          class="me-4 mb-2 form-control-sm btn btn-secondary btn-sm col-12 col-sm-12 col-md-5 col-lg-5"
          accesskey="B"
          (click)="onSubmit()"
        >
          <u>B</u>uscar
        </button>
        <button
          id="btnLimpiar"
          type="submit"
          (click)="onLimpiar()"
          class="mb-2 form-control-sm btn btn-secondary btn-sm col-12 col-sm-12 col-md-5 col-lg-5"
          accesskey="B"
        >
          <u>L</u>impiar
        </button>
      </div>
    </div>
    <app-cabecera [ingresoCabeceraEsValido]="ingresoCabeceraValido" />
  </form>
</div>
<app-modal-ingreso *ngIf="validacionModal" (OutIngresoModal)="close($event)" />
<app-modal-limpiar *ngIf="limpiarModal" (OutCleanModal)="close($event)" />
